<%- include('includes/header') %>

  <link rel="stylesheet" type="text/css" href="/css/signup.css" />

  <body>
    <div class="container-fluid signup-container login-container home-container position-relative bg-white d-flex p-0">
      <!-- Spinner Start -->
      <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <!-- Spinner End -->


      <!-- Sign In Start -->
      <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
          <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
              <form onsubmit="return validateSignupForm()" action="/admin/signup" method="POST"
                enctype="multipart/form-data">
                <div class="d-flex align-items-center justify-content-between mb-3">
                  <h3 class="text-primary"><a href="/admin">Home</a></h3>
                  </a>
                  <h3>Sign Up</h3>
                </div>
                <div class="form-floating mb-4">
                  <input type="text" name="memberNick" class="member-nick form-control" placeholder="Username"
                    value="" />
                  <label>Restaurant *</label>
                </div>
                <div class="form-floating mb-4">
                  <input type="text" name="memberPhone" class="member-phone form-control" placeholder="Phone" />
                  <label>Phone *</label>
                </div>

                <div class="form-floating mb-4">
                  <input type="password" name="memberPassword" class="member-password form-control"
                    placeholder="Password" />
                  <label>Password *</label>
                </div>
                <div class="form-floating mb-4">
                  <input type="password" name="confirmPassword" class="confirm-password form-control"
                    placeholder="Repeat password" value="" />
                  <label>Repeat password *</label>
                </div>

                <div class="signup-input-frame">
                  <div class="media-frame">
                    <img class="upload-img-frame" src="/img/default.jpeg" />
                    <div class="upload-container">
                      <div class="file-box bs3-primary preview-image" style="margin-top: 25px; display: flex">
                        <input type="hidden" class="upload-name form-control" value="Choose image"
                          disabled="disabled" />
                        <input type="file" id="input-file"
                          class="upload-hidden form-control-file member-image form-control" name="memberImage" />
                      </div>
                    </div>
                  </div>
                </div>

                <input name="memberType" value="RESTAURANT" hidden />

                <button class="btn btn-primary py-3 w-100 mb-4" name="login" type="submit">Sign Up</button>
                <p class="text-center mb-0">Don't have an Account? <a href="/admin/login">Login</a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Sign In End -->
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
    <script type="text/javascript" src="/js/signup.js"></script>
  </body>

  <%- include('includes/footer') %>